asgiref==3.6.0
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.3.0
cryptography==40.0.2
distlib==0.3.7
Django==4.1.6
filelock==3.12.4
mysqlclient==2.1.1
pdfminer.six==20221105
pdfplumber==0.10.2
Pillow==10.0.1
platformdirs==3.11.0
pycparser==2.21
pypdfium2==4.21.0
sqlparse==0.4.3
tzdata==2022.7
virtualenv==20.24.5
